!!!5
%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf8"}
        %title Conociendo chile
        %link{rel:"stylesheet",href:"style.css" }
        %meta{name:"description", content:"Las Ciudades Mas Sorprendentes del mundo entenero."}
        %meta{name:"viewport",content:"width=device-width, initial-scale=1"}
    %body
        %p#message Parece que o pudimos conectarnos a internet, no hay problema, aquí está la informació que necesitas.
        .container
            %h1 Conociendo a Chile
            %p
                %strong Direccion